*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #7e7e7e;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta {
    display: flex;
    height: 350px;
    width: 220px;
    perspective: 2000px;
}

.carta-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.carta-front, .carta-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.carta-front img, .carta-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carta-back {
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg);
}